*{
	margin:auto;
}

#banner img{
	margin: 70px 100px 0px 100px;
}

.putar img{
	margin: 0px 400px 0px 600px;

}

.putar img:hover {
	-webkit-transform: rotate(359deg) scale(1.25) 10s;
	-moz-transform: rotate(-2deg) scale(1.25);
	-o-transform: rotate(-2deg) scale(1.25);
	-ms-transform: rotate(-2deg) scale(1.25);
}

.putar a
{ 
	-webkit-transition: all 9s linear; }


.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
 }  
 
.rotate:hover  
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.thumbnail img{
	display: block;
	float: left;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	transition: all 0.5s ease-in;
}

.thumbnail img:hover {
	-webkit-transform: rotate(-1.5deg) scale(1.25) ;
	-moz-transform: rotate(-2deg) scale(1.25);
	-o-transform: rotate(-2deg) scale(1.25);
	-ms-transform: rotate(-2deg) scale(1.25);
}
